.foto-perfil-nav{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.5px solid black;
    transition: all 0.4s ease-in-out;
    position:absolute;
}

.foto-perfil-nav:hover{
    width: 46px;
    height: 46px;
}

.margim-left{
    margin-left: 2.5rem !important;
}

@media (max-width: 600px){
    .foto-perfil-nav{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0.5px solid black;
        transition: all 0.2s ease-in-out;
        position: static;
    }
    .margim-left{
        margin-left: 0px !important;
    }
}

@media (max-width: 991px){
    .foto-perfil-nav{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0.5px solid black;
        transition: all 0.2s ease-in-out;
        position: static;
    }
    .margim-left{
        margin-left: 0px !important;
    }
}