.not_found{
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;    
    background-color: rgb(25, 135, 84);
    flex-direction: column;
}

.not_found h1{
    color: white;
    font-size: 40px;
    font-style: inherit;
}

.not_found img{
    width: 400px;
}


.button{
    display: inline;
    box-sizing: border-box;
    flex-direction: row;
    padding: 5px 10px;
    margin: 10px;
    color: black;
    background-color:  rgb(25, 135, 84);
}
.btn-notFound {
    margin: 10px !important;
    background-color: white !important;
    color:rgb(25, 135, 84) !important;
    font-weight: 700 !important;
}




